@charset "UTF-8";

// * ==========================================================================
// * 顏色
// * ==========================================================================

// 預設的文字顏色
$color-default: #313131;

$color-white: #ffffff;
$color-black: #000000;
$color-orange: #f87147;

// 主要配色
$color-primary-1: #4337C9;
$color-primary-2: #6466F1;
$color-primary-3: #e7e4e4;

// 次要配色
$color-white-rice: #f1ede4;
$color-brown-light: #e6a831;
$color-blue: #10172A;
$color-blue1: #0B1120;
$color-blue2: #3C81F6;
$color-blue3: #245FE7;
$color-green: #7DED94;
$color-coral: #BE195D;
$color-purple: #9094e6;
$color-aplha: #ffffff7a;
$color-gray:#95A3B8;
$color-gray-1: rgba(176, 176, 176, 0.612);

// FOCUS 時的外框
$focus-border: 0 0 0 0.2rem rgba($color-green, 0.5);
$focus-border-inset: inset 0 0 0 0.2rem rgba($color-green, 0.8);

// 行動版 HEADER BAR 的高度
$mainHeader-height: 50px;

// 電腦版 MENU 的高度
$menu-height: 85px;
